h1 {
	font-family: Comic Sans MS; 
	font-size: 54px; 
	text-align: center; 
	color: royalblue;"
}

p {
	color: palevioletred;
	font-size: 24px;
}

ul {
	color: steelblue;
	font-size: 20px;
}

table th, td {
	border: 1px solid gray;
}

.Funky {
	background-color: aliceblue;
	font-family: fantasy;
	font-size: 40px;
	text-align: center;
}

.happy{
	background-color: seagreen;
	color: black;
	font-size: 20px;
}

.sad{
	color: burlywood;
	background-color: teal;

